body {
    margin: 0;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 960px;
    padding: 60px 0px;
    margin: 0 auto;
}

header {
    background-color: #008000;
    height: 70px;
    width: 100%;
    opacity: 0.8;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px #001000;
}

.header-left {
    float: left;
    padding-left: 30px;
    color: white;
}

.header-right {
    float: right;
}

.pict-wrapper {
    padding-top: 70px;
    background-color: #f0fff0;
    text-align: center;
}

.link {
    padding: 10px 10px;
    margin: 0 30px;
    float: left;
}

.link a {
    color: white;
}

.link:hover {
    opacity: 0.8;
    border-bottom: 3px solid #f0fff0;
}

.intro-wrapper {
    background-color: #f0fff0;
}

.carrer-wrapper {
    background-color: #f0fff0;
}

.contact-wrapper {
    background-color: #f0fff0;
}

.skill-wrapper {
    background-color: #f0fff0;
}

h2 {
    border-bottom: 3px solid #5f5f5f;
}

.section-title {
    padding-top: 100px;
    margin-top: -100px;
}

.btn {
    width: 300px;
    padding: 16px 48px;
    color: white;
    text-align: center;
    border-radius: 16px;
    display: inline-block;
    opacity: 0.9;
    box-shadow: 0px 4px #202050;
}

.btn:hover {
    opacity: 1;
}

.btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.twitter {
    background-color: #55acee;
}

.github {
    background-color: #24292e;
}

.note {
    background-color: #2cb696;
}

.fa {
    margin: 5px;
}