body {
    margin: 0;
    color: #303030;
}

a{
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

h1 {
    margin: 0;
}

img {
    vertical-align: bottom;
}

.container {
    width: 100%;
    max-width: 960px;
    padding: 60px 0px;
    margin: 0 auto;
}

header {
    background-color: #008000;
    width: 100%;
    opacity: 0.8;
    padding: 10px;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 4px #001000;
    display: flex;
    justify-content: space-around;
}

.header-left {
    color: white;
}

.header-right {
}

.pict-wrapper {
    margin-top: 70px;
    text-align: center;
}

.link {
    margin: 0 30px;
    float: left;
}

.link a {
    color: white;
}

.link:hover {
    opacity: 0.8;
    border-bottom: 3px solid #f0fff0;
}

.link-bar {
    display: none;
    color: white;
    cursor: pointer;
}

.overlay {
    display: none;
    pointer-events: none;
}

.overlay.show {
    display: block;
    pointer-events: auto;
}

#close {
    cursor: pointer;
}

body section:nth-of-type(odd) {
    background-color: #fafffa;
}

section {
    border: #e0f0e0 solid 1px;
}

h2 {
    border-bottom: 3px solid #5f5f5f;
}

.section-title {
    padding-top: 100px;
    margin-top: -100px;
}

.btn {
    width: 300px;
    padding: 16px 48px;
    color: white;
    text-align: center;
    border-radius: 16px;
    display: inline-block;
    opacity: 0.9;
    box-shadow: 0px 4px 4px #505050;

    transition-property: opacity;
    transition-duration: 0.3s
}

.btn:hover {
    opacity: 1;
}

.btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.twitter {
    background-color: #55acee;
}

.github {
    background-color: #24292e;
}

.note {
    background-color: #2cb696;
}

.fa {
    margin: 5px;
}

.product {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    transition-property: background-color, box-shadow;
    transition-duration: 0.3s;
}

.product:hover {
    background-color: #eeeeee;
    box-shadow: 2px 2px 4px #bbbbbb;
}

.product-text {
    width: 40%;
}

.product-text p{
    padding-top: 10px;
}

.product img {
    width: 400px;

    transition-property: border;
}

.product img:hover {
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
}

@media (max-width: 896px) {
    .link-bar {
        display: block;
    }

    .links {
        display: none;
    }
}